@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("./fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"),
    url("./fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("./fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Semibold.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    url("./fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"),
    url("./fonts/SFProDisplay-Heavy.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Heavy.woff") format("woff");
}

html {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blog-grid-list {
  width: 100%;
  display: grid;
  gap: 0.8rem;
  place-items: center;
  margin-bottom: 4rem;

  @include screen(md) {
    gap: 1.2rem;
  }

  @include screen(lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

.terms {
  padding: 50px 32px;
  background-color: $c-white;
  p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
  h5 {
    font-size: 1.3rem;
    color: $c-black;
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    margin-top: 30px;
  }
  ol {
    font-size: 16px;
    line-height: 28px;
    color: $c-black-30;
    margin-bottom: 30px;
    list-style-position: inside;
  }
  li {
    margin-bottom: 20px;
  }
  h5.terms-top-border {
    padding-top: 30px;
    border-top: 1px solid rgba(34, 34, 35, 0.1);
  }
  h2.terms-top-border {
    margin-top: 60px;
    padding-top: 50px;
    border-top: 1px solid rgba(34, 34, 35, 0.1);
  }
}

.terms-container {
  width: 100%;
  max-width: 560px;
  margin: auto;

  @include screen(lg) {
    max-width: 768px;
  }
}
